<h1>State Service</h1>
<div class="blur">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet laboriosam a adipisci quasi cum quaerat, natus provident porro reiciendis error aut blanditiis inventore vitae omnis, deserunt aspernatur officiis pariatur fuga. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, nemo. Nisi animi iste necessitatibus quos velit laborum fugiat cumque quae deserunt vel aliquid dolore, maxime atque? Atque perspiciatis quis ad.
</div>

<div class="ctaWrapper">
    <a href="account/create" class="cta green">Get Started</a>
    <a href="session/create" class="cta blue">Login</a>
</div>